@font-face {
  font-family:"PT Sans";
  font-style: normal;
  font-weight: 400;
  src: url(../fonts/ptsans-400.woff2) format("woff2");
  font-display: swap;
}

@font-face {
  font-family:"PT Sans";
  font-style: normal;
  font-weight: 700;
  src: url(../fonts/ptsans-700.woff2) format("woff2");
  font-display: swap;
}

html {
  min-width: 1280px;
  height: 100%;
}

body {
  font-family: "PT Sans", sans-serif;
  margin: 0 auto;
  display: flex;
  flex-direction: column;
  min-height: 100%;
  font-size: 18px;
  line-height: 21px;
  color: #333333;
  background-color: #ffffff;
  width: 1200px;
  padding: 0;
  box-shadow: 0 0 15px rgba(0, 0, 0, 0.2);
}

.visually-hidden {
  position: absolute;
  width: 1px;
  height: 1px;
  margin: -1px;
  padding: 0;
  border: 0;
  clip: rect(0 0 0 0);
  overflow: hidden;
}

main {
  flex-grow: 1;
}

.page-header {
  padding: 0 70px;
  min-height: 64px;
}

.logo {
  position: absolute;
}

 .navigation {
  display: flex;
  justify-content: space-between;
  margin-left: 184px;
 }

 .reset-list {
  list-style-type: none;
  margin: 0;
  padding: 0;
 }

 .navigation-list {
  display: flex;
 }

.navigation-hotels {
  margin-right: 0;
 }

 .navigation-user {
  align-items: center;
  flex-shrink: 0;
 }

.navigation-user-item {
  width: 44px;
}

 .navigation-button-item{
  margin-left: 20px;
  min-width: 160px;
  width: auto;
 }

 .navigation-link {
  display: block;
  color: #000000;
  text-decoration: none;
  padding: 20px 16px;
  font-weight: 700;
  background-repeat: no-repeat;
 }

 .button {
  font-family: inherit;
  display: inline-block;
  background-color: #756157;
  font-size: 16px;
  font-weight: 700;
  border-radius: 4px;
  text-transform: uppercase;
  padding: 8px 34px;
  border: 0;
  line-height: 20px;
  color: #FFFFFF;
 }

 .button-point {
  display: inline;
  text-decoration: none;
 }

 .main-picture {
  background-image: url(../images/decoration-index.svg), url(../images/index-background.jpg);
  background-position: center bottom, center;
  background-color: #756157;
  background-repeat: no-repeat;
  text-align: center;
  margin: 0 auto;
  width: 1200px;
  height: 485px;
  margin-bottom: 69px;
 }

 .pic {
  padding-top: 51px;
 }

 .main-header {
  text-align: center;
  color: #000000;
  text-transform: uppercase;
  font-size: 30px;
  line-height: 36px;
 }

 .main-text {
  text-align: center;
  font-size: 22px;
  line-height: 26px;
  margin-bottom: 90px;
 }

 .advantage-list {
  display: flex;
  flex-wrap: wrap;

 }

 .advantage-item {
  box-sizing: border-box;
  text-align: center;
  width: 400px;
  min-height: 384px;
  background-color: rgba(131, 179, 211, 0.12);
}

.advantage-item-light {
  background: rgba(131, 179, 211, 0.2);
}

 .advantage-item-bridge {
  flex-direction: row-reverse;
 }

 .advantage-item-blue {
  box-sizing: border-box;
  font-weight: 400;
  background-color: #82B3D3;
  text-align: center;
  color: #ffffff;
  width: 100%;
  min-height: 384px;
  display: flex;
 }

 .advantage-container {
  padding-top: 92px;
  flex: 1;
 }

 .advantage-title-white {
  text-transform: uppercase;
  font-size: 24px;
  margin: 0 0 30px 0;
  line-height: 28px;
 }

 .advantage-title {
  text-transform: uppercase;
  color:#000000;
  font-size: 24px;
  margin: 103px 112px 30px;
  line-height: 28px;
 }

 .advantage-description {
  margin-top: 30px;
 }

 .line {
  margin:0 0 0 170px;
  width: 60px;
  height: 2px;
 }

 .line-white {
  background: rgba(255, 255, 255, 0.3);
 }

 .line-grey {
  background: rgba(0, 0, 0, 0.3);
 }

 .additional-advantages-list {
  display: flex;
  flex-wrap: wrap;
 }

 .additional-advantages-item {
  box-sizing: border-box;
  text-align: center;
  width: 400px;
  min-height: 384px;
  background-color: rgba(131, 179, 211, 0.12);
 }

 .icon {
  padding-top: 80px;
  line-height: 0;
 }

 .additional-advantages-title {
  font-size: 24px;
  color: #000000;
  text-transform: uppercase;
  margin: 0;
  padding-top: 30px;
  line-height: 28px;
 }

 .additional-advantages-description {
  margin-top: 30px;
 }

 .additional-advantages-item-food {
  background-color: #FFFFFF;
 }

 .helper {
  text-align: center;
  min-width: 1200px;
  min-height: 406px;
 }

 .helper-title {
  text-transform: uppercase;
  color: #000000;
  font-size: 30px;
  margin: 0;
  line-height: 36px;
  padding: 96px 451px 20px;
 }

 .helper-text {
  font-size: 22px;
  margin: 0;
  padding-bottom: 54px;
  line-height: 26px;
 }

 .button-hotel-finder {
  font-size: 20px;
  min-width: 376px;
  min-height: 52px;
 }

 .subscription {
  background-image: url(../images/subscription-background.jpg);
  background-size: cover;
  text-align: center;
  color: #FFFFFF;
  height: 414px;
 }

 .subscription-title {
  text-transform: uppercase;
  font-size: 30px;
  margin: 0;
  padding: 96px 398px 20px;
  line-height: 36px;
 }

 .subscription-text {
  line-height: 26px;
  font-size: 22px;
  margin: 0;
  padding-bottom: 54px;
 }

 .subscription-button {
  text-transform: uppercase;
  color: #FFFFFF;
  background-color: #82B3D3;
  border-radius: 0 4px 4px 0;
  font-weight: 700;
  font-size: 20px;
  width: 232px;
  height: 52px;
  border: 0;
 }

 .email-field {
  font-family: inherit;
  border: none;
  border-radius: 4px 0 0 4px;
  width: 452px;
  height: 52px;
 }

 .page-footer {
  align-items: center;
  height: 120px;
 }

 .page-footer-container {
  display: flex;
  align-items: center;
  justify-content: space-between;
  margin: 40px 70px 30px;
  height: 50px;
 }

 .social-media-link {
  width: 47px;
  height: 48px;
 }

 .social-medias {
  min-width: 142px;
 }

 .social-media-list {
  display: flex;
}

 .social-media-item {
  margin: auto;
 }

 .social-media-link {
  padding: 13px 11px;
 }

.phone-address {
  text-decoration: none;
  color: #000000;
  font-size: 40px;
}

/* Каталог */

.inner-header {
  background-image: url(../images/catalog-background.jpg);
  background-size: 1210px;
  color: #FFFFFF;
  background-color: #756157;
  width: 1200px;
  height: 412px;
}

.inner-header-title {
  display: inline-block;
  line-height: normal;
  margin: 0;
  padding: 35px 0 0 70px;
  font-size: 60px;
}

.breadcrumbs {
  display: flex;
  padding: 8px 0 0 70px;
}

.breadcrumbs-link {
  color: inherit;
  text-decoration: none;
  font-size: 16px;
  margin-right: 28px;
}

.hotels-filter {
  display: flex;
}

.catalog-filter-group {
  margin: 40px 0 0 70px;
  padding: 0;
  border: 0;
  min-width: 150px;
  min-height: 157px;
}

.catalog-filter-title {
  font-weight: 700;
  font-size: 20px;
  margin-bottom: 32px;
}

.filter-item {
  padding-bottom: 16px;
  font-size: 18px;
}

.price {
  padding: 0;
  margin: 40px 0 0 140px;
  border: 0;
  width: 288px;
  height: 160px;
}

.price-amount {
  border: 0;
  width: 143px;
  height: 48px;
  background-color: #F2F2F2;
}

.price-container {
  display: flex;
}

.price-amount-left {
  border-radius: 4px 0 0 4px;
  margin-right: 2px;
}

.price-amount-right {
  border-radius: 0 4px 4px 0;
}

.price-value-controller {
  margin: 36px 0 0 0;
  width: 287px;
  height: 20px;
}

.price-buttons {
  display: flex;
  flex-direction: column;
  padding: 0;
  margin: 96px 0 0 70px;
}

.button-apply {
  background-color: #82B3D3;
  margin-bottom: 32px;
  padding: 0;
  width: 191px;
  height: 36px;
}

.button-reset {
  background-color: transparent;
  padding: 0;
  width: 191px;
  height: 36px;
}

.filter-results {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin: 50px 70px 40px;
}

.finded-hotels {
  text-transform: uppercase;
  color: #000000;
  font-size: 30px;
  line-height: 36px;
  margin: 0;
}

.options {
  font-family: 'PT Sans';
  font-size: 18px;
  border: 2px solid #E5E5E5;
  width: 292px;
  height: 49px;
}

.button-types {
  width: 160px;
  height: 48px;
}

.filter-button {
  background-repeat: no-repeat;
  background-position: center;
  width: 48px;
  height: 48px;
  border: 2px solid #E5E5E5;
  border-radius: 4px;
}

.button-grid {
  background-image: url(../images/icons/tile.svg);
  border: 2px solid #000000;
}

.button-alone {
  background-image: url(../images/icons/alone.svg);
}

.button-horizontally {
  background-image: url(../images/icons/horizontally.svg);
}

.hotels-list {
  display: grid;
  grid-template-columns: 340px 340px 340px;
  gap: 20px;
  margin-left: 70px;
}

.hotels-item {
  width: 340px;
  border: 1px solid #E6E6E6;
  border-radius: 4px;
}

.hotels-info-container {
  padding: 20px;
  display: flex;
  flex-wrap: wrap;
}

.hotel-price {
  display: block;
  margin: auto;
}

.hotel-card-link {
  color: #000000;
  text-decoration: none;
}

.hotel-name-title {
  margin: 16px 0 0 0;
}

.hotel-type {
  margin: 15px 144px 12px 0;
}

.details {
  box-sizing: border-box;
  text-transform: uppercase;
  font-weight: 700;
  text-decoration: none;
  color: #FFFFFF;
  background-color: #756157;
  border-radius: 4px;
  width: 140px;
  height: 36px;
  margin-right: 20px;
  font-size: 16px;
  padding: 8px 26px;
}

.button-hotels {
  text-transform: uppercase;
  background-color: #82B3D3;
  color: #FFFFFF;
  font-weight: 700;
  width: 140px;
  height: 36px;
  border-radius: 4px;
  border: 0;
}

.favorited {
  background-color: #7DB54F;
}

.stars {
  background-repeat: no-repeat;
  width: 140px;
  height: 37px;
  margin: auto;
}

.stars-4 {
  background-image: url(../images/icons/4-star.svg);
}

.stars-3 {
  background-image: url(../images/icons/3-star.svg);
}

.stars-2 {
  background-image: url(../images/icons/2-star.svg);
}

.raiting {
  box-sizing: border-box;
  background-color: #F2F2F2;
  text-transform: uppercase;
  width: 140px;
  height: 37px;
  border-radius: 4px;
  margin-left: auto;
  text-align: center;
  font-size: 16px;
  padding: 9px 22px 8px 23px;
}

.devider {
  border: 1px solid #E6E6E6;
  margin: 40px 70px 0;
}

.pagination {
  display: flex;
  margin: 40px 70px;
}

.pagination-item:not(:last-child) {
  margin-right: 8px;
}
.pagination-link {
  display: block;
  box-sizing: border-box;
  background-color: #82B3D3;
  color: #FFFFFF;
  text-decoration: none;
  text-align: center;
  font-weight: 700;
  width: 60px;
  height: 60px;
  border-radius: 4px;
  padding: 11px 24px 12px 23px;
  line-height: 36px;
}

.pagination-current {
  background-color: #F2F2F2;
  color: #000000;
}

.pagination-next {
  background-color: #FFFFFF;
  color: #000000;
}

.pagination-link-two-digit {
  padding: 11px 18px 12px;
}

.subscription-catalog {
  height: 414px;
  text-align: center;
}

.subscription-title-inner {
  color: #000000;
 }

.email-field-catalog {
  background-color: #F2F2F2;
}
